body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px 0;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px 0;
}